/* Variables */
:root {
    --primary-color: #7D83FF;
    --secondary-color: #009FB7;
    --background-color: #161B33;
    --dark-overlay: rgba(0, 0, 0, 0.8);
    --text-color: #fff;
    --muted-color: #aaa;
    --shadow-color: rgba(0, 0, 0, 0.5);
}

/* General Styles */
body {
    font-family: sans-serif, "Consolas";
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to bottom, var(--background-color), #000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
    text-align: center;
}

/* Header */
header {
    background-color: linear-gradient(to bottom, var(--background-color), rgb(0, 0, 0));
    color: var(--primary-color);
    padding: 15px 20px;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--shadow-color);
    border-top: 2px solid var(--background-color);


    border-bottom: 2px solid var(--background-color);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

/* Main Content */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--shadow-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Footer */
footer {
    text-align: center;
    background-color: linear-gradient(to bottom, var(--background-color), #000);
    color: var(--muted-color);
    padding: 15px 0;
    font-size: 0.9rem;
    border-top: 2px solid var(--background-color);
}  

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.background-image-container {
    position: relative;
    margin-top: 20px;
    text-align: center;
    overflow: hidden; 
}

.background-image {
    width: 80%; 
    height: auto; 
    margin: 0 auto; 
    
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
    
    opacity: 0.85;

    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
}

/*Hamburger Menu Style*/
.hamburger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2000;
}

.hamburger-menu:focus {
    outline: none;
}

/* Albums */
.album {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    max-width: 400px;
    margin: auto;
}

.album img {
    max-width: 100%;
    border-radius: 10px;
}

.album p {
    margin: 10px 0;
    font-size: 1rem;
    color: #ddd;
}

.album p strong {
    color: var(--primary-color);
}

/* Search Window Styles */

/* Search Feature */
.search-container {
    position: relative;
    z-index: 1;
}
  
  
.search-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #4d519b;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1rem;
}

.search-container input::placeholder {
    color: var(--primary-color);
}
  
.search-container button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
  
  .search-container button:hover {
    background-color: rgb(4, 128, 128);
}

/* Popup Styles (search.html) */
.review-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-overlay);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.review-popup-content {
    background-color: #202020;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    width: 400px;
    position: relative;
}

.review-popup-content img {
    width: 150px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.review-popup-content h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.review-popup-content p {
    font-size: 1rem;
    margin: 5px 0 20px;
}

.rating-container {
    margin: 10px 0;
}

.rating-container .star {
    font-size: 2rem;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.rating-container .star.hover {
    color: #907c0c;
    cursor: pointer;
}

.rating-container .star.active {
    color: #ffd700;
    cursor: pointer;
}

textarea {
    width: calc(100% - 20px);
    height: 80px;
    background-color: #303030;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    resize: none;
}

textarea::placeholder {
    color: #888;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 1001;
}

button:hover {
    background-color: #038da2;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.close-button:hover {
    transform: scale(1.1);
    color: rgb(177, 192, 192);
}

/* Feedback Popup Styles */
#feedbackPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: var(--background-color);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
}

#feedbackPopup p {
    margin: 20px 0;
    font-size: 1.1rem;
}

#feedbackPopup button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#feedbackPopup button:hover {
    background-color: #038a9f;
}

/* Feedback Popup Styles */
.custom-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.custom-popup-content {
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

.custom-popup-content p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.custom-popup-content button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-popup-content button:hover {
    background-color: #038a9f;
}

.star.active,
.star.hover {
    color: gold;
}

/* My List Styles */
.album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album-item {
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #444;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.album-item img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.album-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.album-details {
    text-align: left;
    flex: 1;
    padding-left: 10px;
}

.album-details h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: var(--primary-color); 
}

.album-details .rating {
    font-size: 1rem;
    color: gold; 
    margin: 4px 0;
}

.album-details .review {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 4px;
}


.album-details small {
    color: var(--muted-color);
    font-size: 0.9rem;
}

.rating-container .star,
.album-details .star {
    font-size: 1.5rem;
    color: #555;
    cursor: default;
}

.rating-container .star.active,
.album-details .star.active {
    color: #ffd700; 
}

/* Toast effect that appears on top left after a save */
.toast {
    visibility: hidden;
    min-width: 200px;
    margin: 10px; 
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

/* General Popup Styling */
.popup {
    background-color: #222;
    color: var(--text-color);
    width: 400px;
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 4px 10px var(--shadow-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup img {
    max-width: 100%;
    max-height: 200px; 
    margin-bottom: 15px;
    border-radius: 4px;
}

.popup .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.popup .close-icon:hover {
    transform: scale(1.2);
    color: #ff5757;
}

.popup button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: #038a9f;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-overlay);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: var(--primary-color);
    width: 300px;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-buttons .confirm {
    background-color: var(--secondary-color);
    color: white;
}

.modal-buttons .confirm:hover {
    background-color: var(--secondary-color);
}

.modal-buttons .cancel {
    background-color: #555;
    color: white;
}

.modal-buttons .cancel:hover {
    background-color: #333;
}

#addToListButton {
    font-size: 1rem;
    padding: 10px 14px;
    margin-top: 14px;
}

/* Album Library Styles */
/* Delete Feature Style */
#deletePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--shadow-color);
    z-index: 1000;
    color: var(--text-color);
    width: 300px;
    text-align: center;
}

#deletePopup .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deletePopup button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#deletePopup button:hover {
    background-color: var(--secondary-color);
}

#deletePopup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--muted-color);
}

.list-empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    margin-top: -50px;
}

/* Surprise Styles */
.album-recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #0d1021, rgb(0, 0, 0));
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 350px;
    margin: 15px auto;
    margin-top: 20px;
    font-size: 1.2em;
    animation: fadeIn 1s ease-in-out;
}

.album-recommendation img {
    width: 90%;
    max-width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.album-recommendation h3 {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 8px;
    text-align: center;
}

.album-recommendation p {
    font-size: 1rem;
    color: #ccc;
    margin: 4px 0;
    text-align: center;
}


.album-recommendation p:first-of-type {
    font-weight: bold;
    color: var(--primary-color);
}

.album-recommendation p:last-of-type {
    font-style: italic;
    color: #bbb;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.8s ease-in-out;
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block !important;
    }

    body {
        background-color: #000;
    }

    input, button, textarea {
        font-size: 16px;
    }

    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 55%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 2px 0 8px var(--shadow-color);
        transition: left 0.3s ease;
        z-index: 1500;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    nav.open {
        left: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    nav ul li a:hover {
        background-color: var(--background-color);
        color: var(--primary-color);
        border-radius: 5px;
    }

    #instruction {
        font-size: 1.5em;
        color: var(--text-color);
    }

    #surpriseMeButton {
        display: none; /* Hide the button on mobile */
    }

    .home-page {
        background: #000;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .home-page header {
        background-color: #000;
        color: var(--primary-color);
        padding: 15px 20px;
        text-align: center;
        position: relative;
        border-bottom: none;
        flex-shrink: 0;
    }

    /* Section under the header - album collage background */
    .home-page main {
        background: url('../potentialWallpaper.jpg') no-repeat center center;
        background-size: cover;
        flex-grow: 1;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #welcome {
        background: rgba(0, 0, 0, 0.751);
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        color: var(--text-color);
        box-shadow: 0 4px 8px var(--shadow-color);
        margin-top: -70px;
        position: relative;
    }

    .home-page footer {
        background-color: #000;
        color: var(--primary-color);
        padding: 10px 20px;
        text-align: center;
        border-top: 1px solid var(--primary-color);
        font-size: 0.8rem;
        flex-shrink: 0;
    }

    #welcome h2 {
        color: var(--primary-color);
    }

    /* Adjust spacing to make the layout look clean */
    .home-page .background-image-container {
        display: none;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }

    .search-container input {
        width: 80%; 
        max-width: 300px; 
    }

    .search-container button {
        width: 40%;
        max-width: 300px;
        padding: 10px;
        font-size: 1rem;
    }
}